/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21/10/2022, 11:30:53 AM
    Author     : Aprendiz
*/

/* clase para dar espacio a los botones */
.margin-button
{
    margin-right: 5px;
}

.img-responsive
{
    width: 50%; 
    display: block; 
} 

/* coloca un margin superior para las row del grid css */
.top-buffer
{
   margin-top: 10px;
}

/* coloca un margin a la derecha para las col del grid css */
.right-buffer
{
    margin-right: 5px;
}

#tiempo
{
    color: #ff0000;
    font-weight: bold;
}
.h1-error{
    color: #cc0000;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
    font-size: 18px;
}
.h2-error{
    color: #993300;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
    font-size: 14px;
}
.item-error{
    font-weight: bold;
    font-size: 12px;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);
}