<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Sesión caducada</title>
        <h:outputStylesheet name="css/estilo.css" />
        <h:outputScript name="js/timer.js" />
    </h:head>
    <h:body onload="begintimer()">
        <div class="ui-fluid" align="center">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12" align="center">
                        <h1>Sesión caducada</h1>
                    </div>
                </div>
                
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12" align="center">
                        <h:outputText value="No ha iniciado sesión o esta ya ha caducado!" />
                    </div>
                </div>
                
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12" align="center">
                        <p:graphicImage name="img/sesion_caducada.png" />
                    </div>
                </div>
                
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12" align="center">
                        <h:outputText value="Será redireccionado a la página principal en " />
                        <span id="tiempo"></span>
                    </div>
                </div>
                
            </div>
        </div>
    </h:body>
</html>

