<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>403</title>
        <h:outputStylesheet name="css/estilo.css" />
        
    </h:head>
    <h:body>
        <div class="ui-fluid" align="center">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12" align="center">
                        <h1 class="h1-error">Error 403</h1>
                    </div>
                </div>
                
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12" align="center">
                        <h2 class="h2-error">Acceso denegado maraca conchatumadre</h2>
                    </div>
                </div>
                
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12" align="center">
                        <p:graphicImage name="img/error.png" />
                    </div>
                </div>
                
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12" align="center">
                        <p>
                            Ir a <p:link href="login.xhtml" value="Inicio" escape="false" style="color: red;"/>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </h:body>
</html>

